<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="product.image" alt="">
  </div>
  <mat-card-content>
    <!--<p> Fecha: {{ today | date: 'long' }} </p>
    <p> Hora:  {{ today | date: 'HH:mm:ss' }} </p>-->
    <p> Descripción: {{ product.description | slice: 0: 7}} </p>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="['/products', product.id]" mat-stroked-button color="primary">Ver detalle</a>
    <button (click)="addCart()" mat-raised-button color="primary">Agregar al carrito</button>
  </mat-card-actions>
</mat-card>

<!-- <img mat-card-xl-image [src]="product.image" alt="">-->


